body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.UserProfile {
}
.flex-container {
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;

}

.flex-item {
  height: 500px;
  overflow-y: scroll;
  text-align: center;
}

.Track{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
