body {
  margin:10px;
  padding: 0;
  font-family: sans-serif;
}

.UserProfile {
}

.Track {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container.main-container {
  margin: 0 100px !important;
  margin-top: 30px
}

.ui.segment {
  border: none;
  box-shadow: none;
}

.CourseItem {
  margin-top: 10px;
}
